.navbar-brand img{
    width: 86px;
}
.carousel-item img{
    height: 550px;
}
.carousel-caption{
    margin-bottom: 170px;
}
.card img{
    height: 300px;
}
.image img{
    height: 400px;
}